@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rad Rides Await!!!</h1>
    <div class="row">
        <img src="~/imgs/bike-1-cartoon.jpg" alt="A person riding a bike." />
        <p>Northwind Traders has the best bikes on the block. A visit to our shop will have you riding in style.</p>
    </div>
    <div class="row">
        <img src="~/imgs/bike-2-cartoon.jpg" alt="A person riding a bike." />
        <p>When you buy a bike from us you'll never have to worry about being hip. You'll be too cool for school.</p>
    </div>
    <div class="row">
        <img src="~/imgs/bike-3-cartoon.jpg" alt="A person riding a bike." />
        <p>We've got everything from BMX, to off-road, to street. Northwind has you covered!!!</p>
    </div>
    <div class="row">
        <p><a href="~/">Start shopping!</a></p>
    </div>
</div>
