@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ride In Comfort</h1>
    <p>Sometimes a good mood is just a ride away.</p>
    <img src="~/imgs/bike1.png" alt="A person riding a bike." />
    <p>Feeling the wind in your face is such a rush.</p>
    <img src="~/imgs/bike2.png" alt="A person riding a bike." />
    <p>A bike can last a long time. One might even consider a bike their companion.</p>
    <img src="~/imgs/bike3.png" alt="A person riding a bike." />
    <p><a href="~/">Enter store</a></p>
</div>
